@using FirstApp.View.Components.Message
@using FirstApp.View.Service

@inherits LayoutComponentBase
@inject NotificationService NotificationService
@inject NavigationManager Navigate
@inject IJSRuntime JS
@inject AuthenticationStateProvider AuthStateProv

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

            <AuthorizeView>
                <Authorized>
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Bienvenido @context.User.Identity?.Name!</a>

                </Authorized>
                <NotAuthorized>
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>

                </NotAuthorized>
            </AuthorizeView>
            <button @onclick="logout">exit</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<Alert/>
<Toast/>
@* <Alert @ref="alertComponent" />
<Toast @ref="toastComponent" />

@code {
    private Alert alertComponent;
    private Toast toastComponent;

    protected override void OnInitialized()
    {
        NotificationService.RegisterAlert(alertComponent);
        NotificationService.RegisterToast(toastComponent);
    }
} *@
@code{

    async Task logout()
    {
        await JS.InvokeVoidAsync("localStorage.removeItem", "Token");
        await AuthStateProv.GetAuthenticationStateAsync();
        Navigate.NavigateTo("/");
    }

}