.app-loader-svg {
    color: red;
    /*animation: loader 2s linear infinite;*/
    transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -webkit-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -moz-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -o-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    color: #fff;
    overflow: hidden;
}
/*@keyframes loader {
    0% {
        color: red;
    }

    25% {
        color: yellow;
    }

    50% {
        color: blue;
    }
    75% {
        color: gray;
    }
}*/