@page "/clientInfo"
@using FirstApp.View.Components.Message
@using FirstApp.View.Security
@using FirstApp.View.Service
@inject IRepositoryMAUI Repository
@inject IJSRuntime JSRuntime
@inject NotificationService NotificationService
@* <Alert @ref="notification" /> *@
@* <Toast @ref="toast" /> *@

<h1>Client info</h1>